body {
    background-color: #f8f9fa;
    padding: 20px;
}
.form-control-range {
    width: 80%;
    margin: 10px auto;
}
.container {
    max-width: 800px;
    margin: auto;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    color: #121211;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    }